html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/bg.png");
    color: #222;
}

a {
    color: #940000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    margin: 0 auto;
    width: 818px;
}

.header {
    background-image: url("images/header.png");
    background-position: 0 bottom;
    height: 47px;
}

.header {
    color: #FFFFFF;
}

.header .wrapper > a {
    background-color: #F4E7CF;
    border-bottom: 10px solid #940000;
    border-radius: 3px 3px 3px 3px;
    color: #940000;
    float: left;
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
    padding: 20px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

#bdshare {
    margin-top: 3px;
    float: right !important;
}

.main {
    padding-top: 50px;
}

.main .wrapper {
    background-image: url("images/content-bg.png");
    padding: 150px 30px 30px;
    position: relative;
    width: 758px;
}

.main h1 {
    background-image: url("images/title.png");
    color: #FFFFFF;
    height: 70px;
    left: -20px;
    line-height: 70px;
    padding-left: 50px;
    position: absolute;
    top: 30px;
    width: 808px;
}

.main h1 a {
    color: #FFF;
}

table {
    border-bottom: 1px solid #CF8740;
    border-right: 1px solid #CF8740;
}

table h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 10px 5px;
}

table td {
    border-left: 1px solid #CF8740;
    border-top: 1px solid #CF8740;
    vertical-align: top;
}

.stat {
    display: none;
}
.center {
    text-align: center;
}

.footer {
 background-color: background;
    color: #DDDDDD;
    margin-top: 50px;
    padding: 10px 0 20px;}