<!DOCTYPE html>
<html>
    <head>
        <meta name="ujianVerification" content="{{.SiteUjianVerification}}" />
        <meta charset="utf-8" />
        <title>{{.Title}}</title>
        <meta name="keywords" content="{{.SiteKeywords}}"/>
        <meta name="description" content="{{.SiteDescription}}"/>
        <meta http-equiv="Window-target" content="_top" />
		<link type="text/css" rel="stylesheet" href="base.css" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper"> 
                <h1><a href="index.html">{{.SiteName}}</a></h1>
            </div>
        </div>

        <div class="ad wrapper">

        </div>
        <div class="main wrapper">
			<h2>{{.Head}}</h2>
			{{range $i,$v:=.Content}}
				 <li> <a rel="bookmark" href="{{add $i 1}}.html" >{{$v}}</a>   </li>
			{{end}}
		</div>
		<div class="footer">
		  <div class="wrapper" >
			  <h4>&copy; 2013 <a href="{{.SiteURL}}" >{{.SiteName}}</a> All Rights Reserved.</h4>
		  </div>
		  <div>
			 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000110703'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000110703%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
		  </div>
		</div>
	</body>
</html>
